.cabecalho{
    display : flex;
    justify-content: space-between;
    background-color:var(--branco);
    align-items: center;
    position:relative;
}
.cabecalho__menu{
    display:inline-block;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px
}
.container{
    display:flex;
    justify-content:
    space-between;
}
.container__imagem{
    padding: 1em;
}
.lista__menu {
    display:none;
    background-color: var(--branco);
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao {
display:none;
}
.lista__menu-titulo {
    font-weight: 700;
}